*{
    padding: 0;
    margin: 0;
   
}
body{

        background-color: #3498db;
        color: white;
        text-align: center;
        height: 350px;
    
        
}
header{

    background-color: #3498db;
    color: white;
    text-align: left;
    height: 350px;

    
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;

  .menuli {
    padding: 4px 0;

    a {
      --fill-color: #0407a8e1;
      position: relative;
      display: block;
      padding: 2px 0;
      font: 500 2rem Raleway, sans-serif;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-text-stroke: 1px var(--fill-color);
      background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
      color: transparent;
      background-clip: text;
      transition: 0.5s linear;

      &:hover {
        background-size: 100%;
      }
    }
  }
}
.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(15, 33, 201, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #bdb8b8;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  .login-box button{
    background: rgba(15, 33, 201, 0.987);
    color: #ffffff;

  }
  
  .login-box button:hover {
    background: #03e4f4;
    color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 0 5px #03e4f4,
                0 0 25px #03e4f4,
                0 0 50px #03e4f4,
                0 0 100px #03e4f4;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03f40f);
    animation: btn-anim1 2s linear infinite;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 550px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: royalblue;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 5px 5px 10px 5px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 8px;
    font-size: 0.8em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }
  
  .submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 8px;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    transform: .3s ease;
  }
  
  .submit:hover {
    background-color: rgb(56, 90, 194);
    cursor: pointer;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
  footer {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
}

footer div.social-media-links {
    background: @rhino;
    overflow: hidden;
    padding-bottom: 4px;
    text-align: center;
}

footer div.social-media-links ul {
    margin: 0;
    padding: 0;
}

footer div.social-media-links li {
    display: inline;
    margin: 0;
    padding: 0;
}

footer div.social-media-links a {
    border-bottom: 0px solid rgba(0, 0, 0, 0.95);
    border-radius: 4px;
    box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0), 0 6px 8px rgba(0, 0, 0, 0), 0 24px 24px rgba(0, 0, 0, 0), 0 36px 36px rgba(0, 0, 0, 0), 0 64px 64px rgba(0, 0, 0, 0), 0 64px 128px rgba(0, 0, 0, 0), 0 120px 0 rgba(0, 0, 0, 0), 0 86px 8px 6px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 30px;
    padding: 20px;
    position: relative;
    transition: .2s ease-in;
    width: 30px;
}

footer div.social-media-links a svg {
    left: 20px;
    position: absolute;
    top: 20px;
    height: 30px;
    width: 30px;
}

footer div.social-media-links a svg.glow path,
footer div.social-media-links a svg.glow circle {
    fill: rgba(0, 0, 0, 0);
}

.obtener {
  .searchBox {
    display: flex;
    max-width: 230px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: #2f3640;
    border-radius: 50px;
    position: relative;
    margin: 0 auto;
  }
  
  .searchButton {
    color: white;
    position: absolute;
    right: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  }
  /*hover effect*/
  button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
  }
  /*button pressing effect*/
  button:active {
    box-shadow: none;
    transform: translateY(0);
  }
  
  .searchInput {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 15px;
    padding: 24px 46px 24px 26px;
  }
  
  
  
} 
.inicio{
  $bg: #e6e2df;

html, body {
	height: 100%;
}

body {
	background: linear-gradient(45deg, $bg 80%,#c2c1bd 100%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wrapper {
	width: 100%;
	font-family: 'Source Code Pro', monospace;
	margin: 0 auto;
	height: 100%;
	
	h1 {
		text-transform: uppercase;
		transform: translate(-50%, -50%) skew(10deg) rotate(-10deg);
		font-size: 20vw;
		top: 50%;
		left: 50%;
		margin: 0;
		position: absolute;
		text-rendering: optimizeLegibility;
		font-weight: 900;
		color: rgba(#2793db, 0.5);
		text-shadow: 1px 4px 6px $bg, 0 0 0 #66303a, 1px 4px 6px $bg;
		white-space: nowrap;
		
		&:before {
			content: attr(data-heading);
			position: absolute;
			left: 0;
			top: -4.8%;
			overflow: hidden;
			width: 100%;
			height: 50%;
			color: #23d2df;
			transform: translate(1.6vw, 0) skew(-13deg) scale(1, 1.2);
			z-index: 2;
			text-shadow: 2px -1px 6px rgba(0,0,0,0.2);
		}
		
		&:after {
			content: attr(data-heading);
			position: absolute;
			left: 0;
			top: 0;
			overflow: hidden;
			width: 100%;
			height: 100%;
			z-index: 1;
			color: #3ff3db;
			transform: translate(0vw, 0) skew(13deg) scale(1, 0.8);
			clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
			text-shadow: 2px -1px 6px rgba(0,0,0,0.3);
		}

  }
} 
  
}
.post{
  color: black;
  font:bold
}
.list-group-item{
  background-color: #79cbeb;
}
